$black: #13182c;
$indigo: #2e66e5;
$white: #ffffff;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$lightgrey: #f7f8f9;
$green: #158463;
$red: #c94515;

$background: #fec7d7;
$paragraph: #0e172c;
$button-text: #fffffe;
$headline: #0e172c;
$button: #0e172c;
$main: #f9f8fc;
$tertiary: #a786df;
$secondary: #d9d4e7;