$black: #13182c;
$white: #ffffff;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$lightgrey: #999999;
$divider-line: #E1E1E1;
$hero-bottom: #252A34;


$main: #f9f8fc;



$maintext: #FF2E63;
$lightestgray: #858585;
