@use "./colors" as *;
@use "./fonts" as *;
@use "./mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: $white;
}

// headers

h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 600;
    color: $black;

    @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    @include desktop {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    @include desktop {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

h3 {
    font-size: .8125rem;
    line-height: 1.25rem;
    font-weight: 500;

    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }

    @include desktop {
        font-size: .875rem;
        line-height: 1.375rem;
    }
}

h4 {
    font-size: .6875rem;
    line-height: 1rem;
    color: $slate;

    @include tablet {
        font-size: .75rem;
        line-height: 1.125rem;
    }

    @include desktop {
        font-size: .75rem;
        line-height: 1.125rem;
    }
}

// paragraphs

.p1 {
    font-size: .9375rem;
    line-height: 1.625rem;

    @include tablet {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    @include desktop {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}

.p2 {
    font-size: .8125rem;
    line-height: 1.25rem;
    color: $black;

    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }

    @include desktop {
        font-size: .875rem;
        line-height: 1.375rem;
    }
}

.p3 {
    font-size: .6875rem;
    line-height: 1rem;

    @include tablet {
        font-size: .75rem;
        line-height: 1.125rem;
    }

    @include desktop {
        font-size: .75rem;
        line-height: 1.125rem;
    }
}

//buttons

.primary-button {
    background-color: $indigo;
    color: $white;
    height: 2.25rem;
    border: none;
    border-radius: 1.25rem;
    text-align: center;
    padding: .4375rem 1rem;
    font-size: .8125rem;
    font-weight: 600;
    width: 100%;

    @include tablet {
        height: 2.375rem;
        font-size: .875rem;
        width: auto;
    }

    @include desktop {
        height: 2.375rem;
        font-size: .875rem;
        width: auto;
        width: auto;
    }

    &:hover {
        background-color: $black;
    }
}

.secondary-button {
    background-color: $white;
    color: $slate;
    height: 2.25rem;
    border: .0625rem solid $cloud;
    border-radius: 1.25rem;
    text-align: center;
    padding: .4375rem 1rem;
    font-size: .8125rem;
    font-weight: 600;
    width: 100%;

    @include tablet {
        height: 2.375rem;
        font-size: .875rem;
        width: auto;
    }

    @include desktop {
        height: 2.375rem;
        font-size: .875rem;
        width: auto;
    }

    &:hover {
        background-color: $white;
        color: $indigo;
        border: .0625rem solid $indigo;
    }
}

.delete-button {
    background-color: $red;
    color: $white;
    height: 2.25rem;
    border: none;
    border-radius: 1.25rem;
    text-align: center;
    padding: .5rem 1rem;
    font-size: .8125rem;
    font-weight: 600;
    width: 100%;

    @include tablet {
        height: 2.375rem;
        padding: .4375rem 1rem;
        font-size: .875rem;
        width: auto;
    }

    @include desktop {
        height: 2.375rem;
        padding: .4375rem 1rem;
        font-size: .875rem;
        width: auto;
    }

    &:hover {
        background-color: $black;
    }
}

//input boxes

.form-input {
    height: 2.25rem;
    width: 100%;
    background-color: $white;
    border: .0625rem solid $cloud;
    border-radius: 1.25rem;
    padding: .625rem 1rem;

    @include tablet {
        height: 2.375rem;
    }

    @include desktop {
        height: 2.375rem;
    }

    &:focus {
        border-color: $indigo;
        outline: none;
        border-color: $indigo;

        &::placeholder {
            color: $black;
        }
    }

    &--error-state {
        border-color: $red;
    }
}

::placeholder {
    color: $slate;
}

//in and out of stock labels

.in-stock {
    color: $green;
    background-color: #15846312;
    text-transform: uppercase;
    border-radius: 1.25rem;
    height: 1.5rem;
    text-align: center;
    padding: .25rem 1rem;
    display: inline-block;
    width: 75%;

    @include tablet {
        height: 1.625rem;
        max-width: 5.9375rem;
        min-width: 5.9375rem;
    }
}

.out-of-stock {
    color: $red;
    background-color: #c9451512;
    text-transform: uppercase;

    border-radius: 1.25rem;
    height: 1.5rem;
    text-align: center;
    padding-top: .25rem;
    display: inline-block;

    @include tablet {
        height: 1.625rem;
        max-width: 7.5rem;
        min-width: 7.5rem;
    }
}


// Page Title Section Styles
.page-title-section {
    background-color: #ffffff;
    position: absolute;
    top: 6.6875rem;
    left: 49.5%;
    margin-left: -43%;
    width: 87%;
    min-width: 18.375rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-bottom: .0625rem solid $cloud;
    border-radius: 0.125rem;
    box-shadow: 0 -0.0625rem .25rem 0 $cloud;

    @include tablet {
        flex-direction: row;
        padding: 1.29rem 1.5rem;
        justify-content: space-between;
        border-bottom: none;
    }

    @include desktop {
        width: 63rem;
        margin-left: -31.125rem;
    }
}

.page-title-short {
    background-color: #ffffff;
    position: absolute;
    top: 6.6875rem;
    left: 49.5%;
    margin-left: -43%;
    width: 87%;
    min-width: 18.375rem;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    border-bottom: .0625rem solid $cloud;
    border-radius: .125rem;
    box-shadow: 0 -0.0625rem .25rem 0 $cloud;

    @include tablet {
        flex-direction: row;
        padding: 1.29rem 1.5rem;
        justify-content: space-between;
        border-bottom: none;
    }

    @include desktop {
        width: 63rem;
        margin-left: -31.125rem;
    }
}

// Main Contents Section Styles (container for ul)
.main-contents-section {
    margin-top: 8.1875rem;
    width: 87%;
    background-color: #ffffff;
    box-shadow: 0 .125rem .3125rem 0 $cloud;
    border-radius: 0.225rem;

    @include tablet {
        margin-top: -0.0625rem;
    }

    @include desktop {
        width: 63rem;
    }
}

.main-section-short-title {
    margin-top: 1.8125rem;
    width: 87%;
    background-color: #ffffff;
    box-shadow: 0 .125rem .3125rem 0 $cloud;
    border-radius: .225rem;

    @include tablet {
        margin-top: -0.0625rem;
    }

    @include desktop {
        width: 63rem;
    }
}