//breakpoints

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

// Flexbox Mixions

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}