@use "../../styles/partials/colors" as *;
@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/global" as *;
@use "../../styles//partials/fonts" as *;

.hero {
    background-color: $white;
    position: relative;

    .hero__top,
    .hero__bottom {
        position: relative;
        z-index: 2; 
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../../assets/icons/BackgroundFrame.svg') no-repeat center center;
        background-size: cover; 
        z-index: 1; 
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        @include tablet {
            flex-direction: row;
            padding: 3rem;
        }
        

        &--left {
            text-align: center;
            @include tablet {
            text-align: left;
            margin-left: 1.5rem;
            }
            
        }
    }

    &__main-text {

     &--one {
         color: $black;
     }

     &--two {
         color: $maintext;
     }

     &--sub {
         font-weight: 400;
         line-height: 1.375rem;
         font-size: 0.875rem;
         color: $lightestgray;
         padding-bottom: 1rem;
         width: 100%;

         @include tablet {
             width: 70%;
             padding-bottom: 2rem;
         }
     }
 }

    &__btn {
        width: 80%;
        height: 2.6rem;
        background-color: #13182c;
        color: #ffffff;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        border-radius: 0.1875rem;
        padding-top: 0.5rem;
        border: none;
        margin-bottom: 1.5rem;

        &:hover {
            background-color: $maintext;
            cursor: pointer;
        }

        :active {
            cursor: pointer;
        }

        @include tablet {
            width: 33%;
            height: 3.2rem;
            padding: 0 1rem;
        }

        @include desktop {
            width: 44%;
        }
    }

    &__logo {
        width: 45%;

        @include tablet {
            width: 40%;
        }


    }

}

.hero__bottom {
    text-align: center;

    .text {
        font-weight: bold;
        color: $hero-bottom;
    }

    .popular-recipes-container {
        display: flex;
        justify-content: space-around; 
        margin-top: 20px;
    }

    .popular-recipe-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
    }

    .popular-recipe-avatar {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 1.37rem;
        object-fit: cover;

        @include tablet {
            width: 4rem;
            height: 4rem;
            border-radius: 2.37rem;
        }
    }

    .popular-recipe-info {
        margin-top: 10px;
        font-size: 0.7rem;
        color: $hero-bottom;

        .popular-recipe-name {
            margin: 5px 0;
        }
    }

}


