@use "../../styles/partials/colors" as *;
@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/global" as *;
@use "../../styles//partials/fonts" as *;

.recipe-details {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    h2 {
        color: #333;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p {
        color: #666;
        line-height: 1.6;
        margin-bottom: 10px;
    }

    h3 {
        color: #333;
        font-weight: bold;
        border-bottom: 2px solid #e7e7e7;
        padding-bottom: 5px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            padding: 5px 0;
            border-bottom: 1px solid #e7e7e7;
        }
    }

    .nutrition {
        background: #e7e7e7;
        padding: 15px;
        border-radius: 5px;
        margin-top: 20px;

        span {
            font-weight: bold;
            color: #333;
            margin-right: 15px;
        }
    }

    .author {
        font-style: italic;
        font-weight: bold;
        color: #007bff;
    }

    .rating {
        display: flex;
        align-items: center;


        .votes {
            margin-left: 10px;
            font-size: 0.8rem;
            color: #999;
        }
    }

    .prep-time,
    .cook-time,
    .total-time {
        background: #007bff;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
        margin-right: 10px;
        margin-top: 10px;
    }

    .servings {
        display: inline-block;
        font-weight: bold;
        margin-top: 10px;
    }

    .action-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        button {
            background: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
                background: darken(#007bff, 5%);
            }
        }
    }

    .scale-buttons {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1rem;

        button {
            background-color: #f3f3f3;
            border: 1px solid #dcdcdc;
            padding: 0.5rem 1rem;
            margin-right: 0.5rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #e9e9e9;
        }

            &.active {
            background-color: #007bff;
            color: white;
            border-color: #007bff;
      }
    }
}
}