@use "../../styles/partials/colors" as *;
@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/global" as *;
@use "../../styles//partials/fonts" as *;



.content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; // Space between filters and recipe list
    padding: 20px;

    @include tablet {
        flex-wrap: nowrap;
    }
}

.filters {
    flex-basis: 100%; // Full width on smaller screens

    @include tablet {
        flex-basis: 200px; // Adjust to your desired width on larger screens
    }

    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #ccc; // Visual separator between filters and recipes

    h2 {
        margin-bottom: 1rem; // Space below section headings
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 0.5rem; // Space between filter items
            display: flex;
            align-items: center; // Align checkboxes and labels vertically

            label {
                cursor: pointer;
                display: flex;
                align-items: center; // Ensures label text is aligned with the checkbox
                width: 100%;
            }

            input[type="checkbox"] {
                margin-right: 10px; // Space between checkbox and label text
            }
        }
    }
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Responsive grid layout
    gap: 20px; // Space between cards
    width: 100%;

    .recipe-card {
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.2s, box-shadow 0.2s;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }

        img {
            width: 100%;
            height: 200px; // Adjust based on your needs
            object-fit: cover;
        }

        h3,
        p {
            padding: 10px;
        }
    }
}