@use "../../styles/partials/colors" as *;
@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/global" as *;
@use "../../styles//partials/fonts" as *;

.meal-plan-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.meal-plan-card {
    background-color: #f0f0f0; // default color
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    h2 {
        margin-top: 0;
        background-color: #f9c1b1; // Default color for headers
        color: #fff;
        padding: 10px;
        border-radius: 10px 10px 0 0;
    }

    p {
        background-color: #fff;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
    }

    &.monday {
        h2 {
            background-color: #f9c1b1;
        }
    }

    &.tuesday {
        h2 {
            background-color: #f3d250;
        }
    }

    &.wednesday {
        h2 {
            background-color: #88d498;
        }
    }

    &.thursday {
        h2 {
            background-color: #8ad7f1;
        }
    }

    &.friday {
        h2 {
            background-color: #c084f5;
        }
    }

    &.saturday {
        h2 {
            background-color: #ff847c;
        }
    }

    &.sunday {
        h2 {
            background-color: #e84a5f;
        }
    }

 
}