@use "../../styles/partials/colors" as *;
@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/global" as *;
@use "../../styles//partials/fonts" as *;

.meal-plan-container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; // White background for the container
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 2rem; // Bigger font size for the title
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    input {
        flex-grow: 1;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
    }

    button {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: $maintext; // Bootstrap primary blue
        color: white;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
            background-color: darken(#007bff, 10%);
        }
    }
}

.error-message {
    color: #d9534f; // Bootstrap danger color
    margin-bottom: 15px;
}

.meal-plans-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.meal-plan-card {
    background-color: #f8f9fa; // Light grey background for cards
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meal-plan-card h2 {
    color: $maintext; // White text for the day title
    padding: 10px;
    border-radius: 8px;
    font-size: 1.5rem; // Larger font size for day titles
    margin: -20px -20px 20px -20px; // Align the title with the card edges
}


.meal-plan-card p {
    background-color: #fff; // White background for the meal text
    color: #333; // Dark text for better readability
    padding: 8px 10px;
    margin: 5px 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}
.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db; // Use a color from your color scheme
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}